@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,900|Ubuntu&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

#title {
	background-color: #ff4c68;
	color: #fff;
}

.container-fluid {
	padding: 3% 15% 10% 15%; 
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	line-height: 1.5;
	size: 3.5rem;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 1.5;
}


h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

/*Nav Bar*/
.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: ubuntu;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	/* font-weight: lighter; */
}


/*Download Buttons*/
.download-button {
	margin: 5% 3% 5% 0;
}


/*title image*/
.title-image {
	position: absolute;
	right: 30%;
	width: 60%;
	transform: rotate(25deg);
}

/*Features Section*/
#features {
	background-color: #fff;
	padding: 10% 20% 10% 20%;
	text-align: center;
	position: relative;
	z-index: 1;
}

#features i {
	color: #ef8172;
	padding-bottom: 5%;
}

#features i:hover {
	color: #ff4c68;
}

#features p {
	color: #8f8f8f;
}

/*Testmonials
*/

#testimonials {
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

/*Press*/
#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

.carousel-item {
	padding: 7% 15%;

}


/*Princing Section*/
#pricing {
	padding: 100px;
	text-align: center;
}


.card {
	margin-top: 5%;
}

/*Call to Action*/
#cta {
	background-color: #ff4c68;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 10% 15% 10%;
	text-align: center;
}


#cta h3 {
	font-size: 2.5rem;
	padding-bottom: 5%;
}


#footer {
	text-align: center;
	padding: 5% 10%;
}

#footer p {
	/* color: #ddd; */
	padding-top: 2%;
	font-family: 'Ubuntu', sans-serif;
}


.social-icons i {
	padding: 0 10px;
}

/*MEDIA QUERY*/
@media (max-width: 1028px) {
	.title-image {
		position: static;
		transform: none;
		width: 50%;
	}

	#title {
		text-align: center;
	}
}